In [ ]:
El fichero titanic.csv contiene información sobre los pasajeros del
Titanic. Escribir un programa con los siguientes requisitos:

titanic.csv

a) Generar un DataFrame con los datos del fichero.
b) Mostrar por pantalla las dimensiones del DataFrame, el número de
datos que contiene, los nombres de sus columnas y filas, los tipos de
datos de las columnas, las 10 primeras filas y las 10 últimas filas
c) Mostrar por pantalla los datos del pasajero con identificador 148.
d) Mostrar por pantalla las filas pares del DataFrame.
e) Mostrar por pantalla los nombres de las personas que iban en
primera clase ordenadas alfabéticamente.
f) Mostrar por pantalla el porcentaje de personas que sobrevivieron y
murieron.
g) Mostrar por pantalla el porcentaje de personas que sobrevivieron en
cada clase.
h) Eliminar del DataFrame los pasajeros con edad desconocida.
i) Mostrar por pantalla la edad media de las mujeres que viajaban en
cada clase.
j) Añadir una nueva columna booleana para ver si el pasajero era
menor de edad o no.
k) Mostrar por pantalla el porcentaje de menores y mayores de edad
que sobrevivieron en cada clase.

In [48]:
import pandas as pd
#item a
df = pd.read_csv('titanic.csv', delimiter=';')
#item b
print('Las dimensiones del dataframe son: ', df.shape)
print(df.info())
print(df.head())
print(df.tail())
#item c
print('Los datos del pasajero con id 148:\n', df.iloc[148 - 1] ) # aqui habria que aclara si es el indice o el id como tal?
#item d
pares = df.iloc[::2]
print('Pasajeros con ids pares:\n', pares['Name'])
#item e
primera_clase = df[df.Pclass == 1].sort_values(by='Name')
print('Nombres de pasajeros en primera clase:\n', primera_clase['Name'])
#item f
sobrevivientes = round(df['Survived'].value_counts(normalize=True) * 100, 2)
print('Sobrevivientes y Fallecidos:\n',sobrevivientes)
#item g
survived_por_clase = round(df.groupby('Pclass')['Survived'].mean() * 100, 2)
print('Porcentaje de sobrevivientes por clase:\n', survived_por_clase)
#item h
sin_edades_desconocidas = df.dropna(subset=['Age'])
print('Removidas edades desconocidas:\n', sin_edades_desconocidas)
#item i
solo_mujeres = df[df['Sex'] == 'female']
solo_mujeres = round(solo_mujeres.groupby(['Pclass', 'Sex'])['Age'].mean(), 1)
print('Porcentaje de mujeres en cada clase\n', solo_mujeres)
#item j
df['Adult'] = df['Age'] >= 18
print('Columna Adulto:\n', df)
#item k
adultos_sobrevivientes = df[df['Survived'] == 1]
adultos_sobrevivientes = round(adultos_sobrevivientes.groupby('Pclass')['Adult'].value_counts(normalize=True) * 100, 2)
print('Porcentaje de Adultos sobrevivientes:\n', adultos_sobrevivientes)

Las dimensiones del dataframe son:  (891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    object
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 83.7+ KB
None
   PassengerId  Survived  Pclass
0            1         0       3  \
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp
0                            Braund, Mr. Owen Harris    male  22.0      1  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171     7.25   NaN        S
1      0          PC 17599  712.833   C85        C
2      0  STON/O2. 3101282    7.925   NaN        S
3      0            113803     53.1  C123        S
4      0            373450     8.05   NaN        S
     PassengerId  Survived  Pclass                                      Name
886          887         0       2                     Montvila, Rev. Juozas  \
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536     13   NaN        S
887  female  19.0      0      0      112053     30   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369     30  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
Los datos del pasajero con id 148:
 PassengerId                                 148
Survived                                      0
Pclass                                        3
Name           Ford, Miss. Robina Maggie "Ruby"
Sex                                      female
Age                                         9.0
SibSp                                         2
Parch                                         2
Ticket                               W./C. 6608
Fare                                     34.375
Cabin                                       NaN
Embarked                                      S
Name: 147, dtype: object
Pasajeros con ids pares:
 0                                Braund, Mr. Owen Harris
2                                 Heikkinen, Miss. Laina
4                               Allen, Mr. William Henry
6                                McCarthy, Mr. Timothy J
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
                             ...
882                         Dahlberg, Miss. Gerda Ulrika
884                               Sutehall, Mr. Henry Jr
886                                Montvila, Rev. Juozas
888             Johnston, Miss. Catherine Helen "Carrie"
890                                  Dooley, Mr. Patrick
Name: Name, Length: 446, dtype: object
Nombres de pasajeros en primera clase:
 730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object
Sobrevivientes y Fallecidos:
 Survived
0    61.62
1    38.38
Name: proportion, dtype: float64
Porcentaje de sobrevivientes por clase:
 Pclass
1    62.96
2    47.28
3    24.24
Name: Survived, dtype: float64
Removidas edades desconocidas:
      PassengerId  Survived  Pclass
0              1         0       3  \
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp
0                              Braund, Mr. Owen Harris    male  22.0      1  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171     7.25   NaN        S
1        0          PC 17599  712.833   C85        C
2        0  STON/O2. 3101282    7.925   NaN        S
3        0            113803     53.1  C123        S
4        0            373450     8.05   NaN        S
..     ...               ...      ...   ...      ...
885      5            382652   29.125   NaN        Q
886      0            211536       13   NaN        S
887      0            112053       30   B42        S
889      0            111369       30  C148        C
890      0            370376     7.75   NaN        Q

[714 rows x 12 columns]
Porcentaje de mujeres en cada clase
 Pclass  Sex
1       female    34.6
2       female    28.7
3       female    21.8
Name: Age, dtype: float64
Columna Adulto:
      PassengerId  Survived  Pclass
0              1         0       3  \
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp
0                              Braund, Mr. Owen Harris    male  22.0      1  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  Adult
0        0         A/5 21171     7.25   NaN        S   True
1        0          PC 17599  712.833   C85        C   True
2        0  STON/O2. 3101282    7.925   NaN        S   True
3        0            113803     53.1  C123        S   True
4        0            373450     8.05   NaN        S   True
..     ...               ...      ...   ...      ...    ...
886      0            211536       13   NaN        S   True
887      0            112053       30   B42        S   True
888      2        W./C. 6607    23.45   NaN        S  False
889      0            111369       30  C148        C   True
890      0            370376     7.75   NaN        Q   True

[891 rows x 13 columns]
Porcentaje de Adultos sobrevivientes:
 Pclass  Adult
1       True     81.62
        False    18.38
2       True     71.26
        False    28.74
3       False    52.94
        True     47.06
Name: proportion, dtype: float64

Como nota curiosa me llama la atencion en el ultimo dato como varia brutalmente el porcentaje de adultos y menores dependiendo las clases. Se ve que 1ra clase iba por negocios o placer, en cambio 3ra iba con motivos de reubicacion y migración o mas que todo para ir a trabajar dado tambien la marcada tendencia de mujeres en cada clase.

Tambien la diferencia del porcentaje de sobreviviencia dependiendo de la clase variaba bastante, viajar en 3ra clase era mas del doble de probable de fallecer que estando en primera, nadamas estar en 2da clase ya era casi el doble de posibilidades de sobrevivir que estando en 3ra